@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nsans Light";
  src: url(./assets/fonts/NetflixSans-Regular.otf);
}

body {
  font-family: "Nsans Regular", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  color: #fff;
}
.header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5)
    ),
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url(./assets/images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  z-index: 1;
}

.header-bottom {
  position: absolute;

  top: 0;
  right: 0;
  left: 0;
  bottom: 5%;
  z-index: -1;
  margin-top: -0.25rem;
  border-radius: 20% 20% 0 0;
  background: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1) 30%,
    rgba(229, 9, 20, 1) 50%,
    rgba(184, 40, 105, 1) 70%,
    rgba(33, 13, 22, 1) 84%
  );
}
.plans,
.bg-left,
.bg-test {
  background: linear-gradient(180deg, #43172b, #230a25);
}

.bg-ing {
  background: url(./assets/images/games.png);
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  width: 45.25rem;
  height: 100%;
  right: -14.5rem;
  background-position: 50% 40%;
  background-size: 100%;
}
.bg-gr {
  background: radial-gradient(
    94.35% 90.74% at 100% 100%,
    rgba(229, 9, 20, 0.5) 0%,
    rgba(23, 43, 71, 0) 100%
  );
  width: 30rem;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
}
.more > div {
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  height: 250px;
  border-radius: 8px;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
